<br>
<br>

<%= form_for [@question, @answer] do |form| %>

  <div class="field column large-12">
    <%= form.label :answer %><br>
    <%= form.text_field :body %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
  <br>
<% end %>
